@import "../../init.scss";

.login-form {
  max-width: 300px;
}

.login-form-margin {
  margin-bottom: 16px;
}

.login-form-forgot {
  float: right;
}

.login-form-button {
  width: 100%;
}
.login-wrapper {
  margin: 0 auto;
  width: 330px;
  //background: #fff;
  padding: 15px;
  border-radius: 10px;
  .logo-wrapper{
    display: block;
    text-align: center;
    img{
      width: 90px;
      margin: 0 0 15px;
    }
  }
  h2 {
    text-align: center;
    margin: 0 0 20px;
    font-size: 25px;
    color: $brightBlue;
  }
}
