<nz-layout class="app-layout">
  <nz-sider *ngIf="isLoggedIn" class="menu-sidebar" nzCollapsible nzWidth="256px" nzBreakpoint="md"
    [(nzCollapsed)]="isCollapsed" [nzTrigger]="null">
    <div class="sidebar-logo">
      <a [routerLink]="'./dashboard'">
        <img src="../assets/img/logo.png" alt="logo">
        <h1>Cleanz</h1>
      </a>
    </div>
    <div class="wrapper">
      <ul nz-menu nzMode="inline" nzTheme="dark" [nzInlineCollapsed]="isCollapsed">
        <li nz-menu-item nz-tooltip nz  TooltipPlacement="right" [nzTitle]="isCollapsed ? 'Dashboard' : ''" nzSelected>
          <i nz-icon nzType="dashboard" nzTheme="outline"></i>
          <a routerLink="/dashboard">Dashboard</a>
        </li>
        <li nz-submenu nzTitle="Providers" nzIcon="shop">
          <ul>
            <li nz-menu-item>
              <a routerLink="/providers/list">View Providers</a>
            </li>
            <li nz-submenu nzTitle="Provider Sub Services">
              <ul>
                <li nz-menu-item>
                  <a routerLink="/providers/sub_services">View Provider Sub Services</a>
                </li>
              </ul>
            </li>
          </ul>
        </li>
        <li nz-submenu nzTitle="Clients" nzIcon="team">
          <ul>
            <li nz-menu-item>
              <a routerLink="/clients/list">View Clients</a>
            </li>
            <li nz-submenu nzTitle="Client Locations">
              <ul>
                <li nz-menu-item>
                  <a routerLink="/clients/client_locations">View Client Locations</a>
                </li>
              </ul>
            </li>
          </ul>
        </li>
        <li nz-submenu nzTitle="Employees" nzIcon="user-switch">
          <ul>
            <li nz-menu-item>
              <a routerLink="/employees/list">View Employees</a>
            </li>
            <li nz-submenu nzTitle="Employee Roles">
              <ul>
                <li nz-menu-item>
                  <a routerLink="/employees/employee_roles">View Employee Roles</a>
                </li>
              </ul>
            </li>
          </ul>
        </li>
        <li nz-submenu nzTitle="Services" nzIcon="tool">
          <ul>
            <li nz-menu-item>
              <a routerLink="services/list">View Services</a>
            </li>
            <li nz-submenu nzTitle="Sub Services">
              <ul>
                <li nz-menu-item>
                  <a routerLink="services/sub_services">View Sub Services</a>
                </li>
              </ul>
            </li>
          </ul>
        </li>
      </ul>
    </div>
  </nz-sider>
  <nz-layout>
    <nz-header *ngIf="isLoggedIn">
      <div class="app-header">
        <span class="header-trigger" (click)="isCollapsed = !isCollapsed">
          <i class="trigger" nz-icon [nzType]="isCollapsed ? 'menu-unfold' : 'menu-fold'"></i>
        </span>
      </div>
    </nz-header>
    <nz-content *ngIf="isLoggedIn">
      <div class="inner-content has-bg">
        <router-outlet></router-outlet>
      </div>
    </nz-content>

    <nz-content *ngIf="!isLoggedIn" class="no-padding">
      <div class="inner-content">
        <app-login></app-login>
      </div>
    </nz-content>
  </nz-layout>
</nz-layout>