$dullGreen: #28a745;
$brightBlue: #007bff;
$dullBlue: #17a2b8;
$dullRed:#bd2130;
$brightRed:#f32135;
$yellowGradient:#ffc107 linear-gradient(180deg,#ffca2c,#ffc107);
$greenGradient:#28a745 linear-gradient(180deg,#48b461,#28a745);