@import "./init.scss";

.clear-a::after {
  clear: both;
  display: block;
  content: "";
  visibility: hidden;
}
.float-l{
    float: left;
}
.float-r{
    float: right;
}
body{
  font-family: 'Montserrat', sans-serif;
  font-weight: 400;
  .error-msg{
    color: #ff0000;
  }
}

h1,h2,h3,h4,h5,h6,.ant-btn{
  font-weight: 600;
}
.ant-layout {
  nz-content {
    &.no-padding {
      margin: 0;
      background-image: linear-gradient(to bottom, rgba(255, 255, 255, 1), rgba(58, 58, 58, 0.2)),
      url('./assets/img/footer-bg.png');
      background-repeat: no-repeat;
      background-position: bottom;
      .inner-content {
        background: none;
      }
    }
  }
}

.btn-wrapper {
  &.right-align {
    .ant-btn-primary {
      float: right;
      background: $dullGreen;
      font-size: 14px;
      border: 0;
      margin: 0 0 10px;
    }
  }
}
.ant-popover-inner{
  padding: 5px 15px 5px;
}
